* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.sidebar-container {
    display: none;
}

@media screen and (max-width: 768px) {

    .header_list,
    .header_text,
    .has-submenu,
    .submenu,
    .cart_and_membership,
    .cartnav,
    .membershipnav,
    .cart_and_membership p,
    .cart_and_membership img,
    .web_tags,
    .web_tags a,
    .menu {
        display: none;
    }

    .container {
        width: 100%;
    }

    /*header*/
    .logo_text {
        font-size: 10pt;
    }

    .sidebar-container {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    .sidebar-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .sidebar {
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #211E1E;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .goods-display {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }



    /*footer*/

    .footer_logo {
        position: relative;
        left: 20%;
    }

    .privacy-policy {
        font-size: 8pt;
    }
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;
}

.header_list {
    width: 34%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}

.has-submenu {
    list-style-type: none;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}


/*Goods*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.tab-title {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px 0;
}


.tab-title li {
    margin-right: 30px;
}

.tab-title a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #292828;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.tab-title a:hover {
    background-color: rgb(197, 186, 186);
    color: #000;
}

.content {
    border: 1px solid #ccc;
    border-radius: 8px;
}

#tea-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea-category {
    padding: 10px;
    margin-bottom: 20px;
}

.tea {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.goods-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 280px;
    height: 350px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 70%;
    height: 56%;
    margin: 10px;
}

.product p {
    line-height: 1;
    padding: 10px;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: green;
}

.add-to-cart-btn {
    background-color: #331f10;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #7c7572;
}


/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


#searchBox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#placeholder {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
    position: relative;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}