* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}

.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    color: #fff;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}


/*memberships*/
.member-information {
    margin: 40px;
    font-size: 30px;
    text-align: left;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.information img {
    border-radius: 50%;
    max-width: 25%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.information .p {
    text-align: center;
}

.information button {
    background-color: rgb(95, 93, 93);
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px;
}

.information button:hover {
    background-color: white;
    color: black;
}

.basic-information,
.purchase-history,
.comment-history {
    text-align: center;
    background-color: #5C5656;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 5px auto 0;
    width: 200px;
}

.basic-text,
.member-purchase-history,
.member-comment-history {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 65vw;
    margin: 0 auto 50px;
}

.modify {
    font-size: 25px;
    padding: 30px;
}

.member-comment-history {
    overflow: scroll;
}

.personal-information {
    text-align: left;
    align-items: center;
    font-size: 25px;
    padding: 30px;
    margin: 0 auto;
    line-height: 1.8;
}

.order a {
    text-decoration: none;
    color: inherit;
}


.order {
    border-radius: 15px;
    background-color: rgba(92, 86, 86, 0.619);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 10px auto 10px;
    transition: background-color 0.3s;
}


.scoring-content {
    border-radius: 15px;
    background-color: rgba(24, 23, 23, 0.619);
    color: #FFFFFF;
    text-align: left;
    padding: 10px 50px;
    width: 90%;
    margin: 0 auto 10px;
    transition: background-color 0.3s;
}

.order:hover,
.scoring-content:hover {
    background-color: rgb(214, 209, 209);
    color: #000;
}


/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}

/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


#searchBox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#searchBox input {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}