* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 標楷體;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {

    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .register-photo {
        display: none;
    }

    .register-logo img {
        border-radius: 50%;
    }

    .register-text {
        text-align: center;
        width: 100% !important;
        background-color: #2e2e2e;
        color: #fff;
    }

    .membership-register a {
        color: white;
    }
}

.register-container {
    display: flex;
}

.register-photo {
    width: 50%;
}

.register-text {
    text-align: center;
    width: 50%;
}

.register-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.register-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    padding: 10px;
}

.register-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 5% 20px 0;
}


.set-register {
    text-align: center;
    background-color: #a19a78;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-register {
    border: 1px solid #2e2e2e;
    padding: 30px;
    width: 90%;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form {
    text-align: left;
}

form p {
    text-align: center;
    padding: 10px;
}

.submit-btn {
    width: 100px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: gray;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}