* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 標楷體;
    font-size: 20px;
}

.register-container {
    display: flex;
    align-items: center;
}

.register-photo,
.register-text {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.register-photo img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.register-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    padding: 10px;
}

.register-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.set-register {
    text-align: center;
    background-color: #a19a78;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-register {
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    text-align: left;
    padding-top: 15px;
}

form p {
    text-align: center;
    padding: 10px;
}