* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 標楷體;
    font-size: 20px;
}

.register-container {
    display: flex;
    align-items: center;
}

.register-photo,
.register-text {
    text-align: center;
}

.register-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    padding: 10px;
}

.register-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.set-register {
    text-align: center;
    background-color: #a19a78;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-register {
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    height: 400px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    text-align: left;
}

form p {
    text-align: center;
    padding: 10px;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}