* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
}

li {
    list-style: none;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}


/*cart*/
.checkout-container {
    max-width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.step-circle {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    font-size: 16px;
}

.step-circle.active {
    background-color: #211E1E;
    color: #fff;
}


/*步驟一*/
.goods {
    background-color: #211E1E;
    color: white;
    height: 20px;
    display: flex;
    justify-content: space-around;
}

.cart-items {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

a {
    color: #211E1E;
}

.cart-item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.cart-total {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}

/*步驟二*/

.Receiving-information,
.Payment-information,
.Remark {
    text-align: center;
    background-color: #5C5656;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto 0;
    width: 200px;
}

.cart-Receiving-information,
.cart-Payment-information,
.cart-Remark {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 800px;
    height: fit-content;
    margin: 10px auto 50px;
    border-style: solid;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
}


.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}