* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 標楷體;
    font-size: 20px;
}

.login-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-photo,
.login-text {
    text-align: center;
}

.login-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    padding: 10px;
}

.login-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.set-login {
    text-align: center;
    background-color: #3D3535;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-login {
    border: 1px solid black;
    padding: 10px;
    width: 450px;
    height: 290px;
    margin: 0px auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    text-align: center;
}

.membership-login p {
    padding: 10px;
}

.no-membership {
    text-align: center;
    padding: 10px;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}