* {
    margin: 0; /* 清除預設邊緣空間 */
    padding: 0; /* 清除預設內邊距 */
    box-sizing: border-box; /* 避免不同瀏覽器對元素預覽樣式不同 */
}

main {
    width: 100%; 
    /* 將main預設寬度設為其容器最大寬度，
    確保main內容可以隨設備、視窗大小改變 */
}

section {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    min-height: 100vh;
    /* 使此頁面高度至少為一個視窗的高度 */
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;
}

.header_list {
    width: 34%;
    display: flex;
    justify-content: center;
    /* 子元素在水平向上居中對齊 */
    padding-top: 40px;
    gap: 10px;
    /* 子元素間距 */
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

header a {
    text-decoration: none;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* 使圖片四個角為圓邊 */
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
    /* 清除超連結預設樣式(底線) */
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}


.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    /* 清除超連結預設樣式(底線) */
    color: #fff;
}

.submenu {
    opacity: 0;
    /* 預設為透明度0 */
    visibility: hidden;
    /* 預設為隱藏 */
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    /* 漸變效果 */
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    /* 顯示子選單 */
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* 漸變效果 */
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}

/* 會員列表 */
.memberlist {
    width: 70%;
    position: relative;
    margin: 50px auto;
}

.memberlist h2 {
    position: absolute;
    top: 0;
    left: 0;
}

.member-title {
    position: relative;
    top: 50px;
    background-color: #211E1E;
    color: white;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 25% 30% auto;
    grid-auto-flow: row;
}

#user {
    grid-column: 1/2;
    grid-row: 0/1;
}

#call {
    grid-column: 2/3;
    grid-row: 0/1;
}

#mailAddress {
    grid-column: 3/4;
    grid-row: 0/1;
}

.ex1 {
    position: relative;
    top: 60px;
    color: #000;
    font-size: 25px;
    padding: 10px;
}

.member {
    display: grid;
    grid-template-columns: 25% 30% auto;
    grid-auto-flow: row;
}

#user1 {
    grid-column: 1/2;
    grid-row: 0/1;
    cursor: pointer;
}

#call1 {
    grid-column: 2/3;
    grid-row: 0/1;
}

#mailAddress1 {
    grid-column: 3/4;
    grid-row: 0/1;
}

.hidden {
    width: 80%;
    margin-top: 10px;
    position: relative;
}

.hidden-title {
    background-color: #d9d9d9;
    color: #000;
    font-size: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-auto-flow: row;
}

#number {
    grid-column: 1/2;
    grid-row: 0/1;
}

#money {
    grid-column: 2/3;
    grid-row: 0/1;
}

.hidden-content {
    font-size: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-auto-flow: row;
}

#orderName {
    grid-column: 1/2;
    grid-row: 0/1;
}

#orderAmount {
    grid-column: 2/3;
    grid-row: 0/1;
}

.hidden input {
    font-size: 10px;
    padding: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    /* 使其高度配合內容所需最小高度 */
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    /* 文字置中 */
    margin: 5px 0;
    font-size: 10pt;
}

/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    /* 設定此按鈕固定定位，使它相對於瀏覽器視窗固定*/
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    /* 移除元素邊框 */
    border-radius: 50%;
    /* 圓框 */
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#searchbtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}

#searchBox {
    display: none;
    /* 隱藏搜尋盒子 */
    position: fixed;
    /* 設定此按鈕固定定位，使它相對於瀏覽器視窗固定*/
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#searchBox input {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    /* 無邊框外觀 */
    padding: 8px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    /* 無邊框外觀 */
    padding: 8px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

#homeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#homeBtn a {
    text-decoration: none;
    /* 清除預設超連結樣式 */
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}