* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
}

.sidebar-container {
    display: none;
}

@media screen and (max-width: 768px) {

    .header_list,
    .header_text,
    .has-submenu,
    .submenu,
    .cart_and_membership,
    .cartnav,
    .membershipnav,
    .cart_and_membership p,
    .cart_and_membership img,
    .web_tags,
    .web_tags a,
    .menu {
        display: none;
    }

    /*header*/
    .logo_text {
        font-size: 10pt;
    }

    .sidebar-container {
        width: 100%;
        position: absolute;
        top: 5px;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    .sidebar-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar-btn:hover {
        background-color: #302d2d;
    }

    .sidebar {
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #211E1E;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidebar-option:hover {
        background-color: #302d2d;
        color: #211E1E;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    /*footer*/

    .footer_logo {
        position: relative;
        left: 20%;
    }

    .privacy-policy {
        font-size: 8pt;
    }
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 34%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

li {
    list-style: none;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}


.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    color: #fff;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    padding: 15px;
    bottom: 0;
    margin-top: auto;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}

/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


#searchBox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#placeholder {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}