* {
    margin: 0; /* 清除預設邊緣空間 */
    padding: 0; /* 清除預設內邊距 */
    box-sizing: border-box; /* 避免不同瀏覽器對元素預覽樣式不同 */
}

.sidebar-container {
    display: none;
    /* 在>768px的畫面中隱藏側邊選單 */
}

/* 響應式(螢幕畫面<=768px) */
@media screen and (max-width: 768px) {

    .header_list,
    .header_text,
    .has-submenu,
    .submenu,
    .cart_and_membership,
    .cartnav,
    .membershipnav,
    .cart_and_membership p,
    .cart_and_membership img,
    .web_tags,
    .web_tags a,
    .menu {
        display: none; /* 隱藏>768px時的header選單 */
    }

    /*header*/
    .logo_text {
        font-size: 10pt;
    }

    .sidebar-container {
        width: 100%;
        position: absolute; /* 絕對定位 */
        top: 5px;
        right: 0;
        display: flex;
        flex-direction: column;
        /* 使子元素垂直排列 */
    }

    .sidebar-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        display: flex;
        justify-content: center;
        /* 對齊父容器垂直中線 */
        align-items: center;
        /* 水平向上居中對齊 */
    }

    .sidebar-btn:hover {
        background-color: #302d2d;
    }

    .sidebar {
        width: 0; /* 側邊選單預設狀態 */
        height: 100%;
        position: fixed;
        /* 設定側邊選單固定定位，使它相對於瀏覽器視窗固定 */
        top: 0;
        left: 0;
        background-color: #211E1E;
        overflow-x: hidden;
        /* 選單未開啟時隱藏內容 */
        transition: 0.5s;
        /* 設定轉場效果，使側邊選單的變化帶有0.5秒的過渡時間 */
        padding-top: 60px;
        z-index: 1;
        /* 設定側邊選單的堆疊順序(數值越大越上層) */
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        /* 移除超連結的預設文字底線效果 */
        font-size: 18px;
        color: white;
        display: block;
        /* 將每個a標籤設為區塊元素(使padding生效) */
        transition: 0.3s;
        /* 連結的漸變效果 */
    }

    /* 將鼠標放在側邊選單按鈕上背景變色 */
    .sidebar-option:hover {
        background-color: #302d2d;
        color: #211E1E;
    }

    /* 側邊選單的收縮按鈕位置 */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /*body*/
    /* !important 為優先設定 */
    .Product {
        width: 100% !important;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        /* 使子元素垂直排列 */
        gap: 20px !important;

    }

    section {
        padding: 20px 30px !important;
    }

    .buy-btn,
    .cart-btn {
        font-size: 12pt !important;
    }

    .tab-content p {
        flex-direction: row !important;
        /* 使子元素水平排列 */
    }

    .slideshow-container {
        position: relative;
        margin: 0 !important;
        padding: 0 5% !important;
    }

    .prev {
        left: 5% !important;
    }

    .next {
        right: 5% !important;
    }

    /*footer*/
    .footer_logo {
        position: relative;
        left: 20%;
    }

    .privacy-policy {
        font-size: 8pt;
    }
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 34%;
    display: flex;
    justify-content: center;
    /* 子元素在水平向上居中對齊 */
    padding-top: 40px;
    gap: 10px;
    /* 子元素間距 */
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

li {
    list-style: none;
    /* 清除預設清單編號樣式 */
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    /* 使圖片四個角為圓邊 */
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
    /* 清除超連結預設樣式(底線) */
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}


.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    /* 清除超連結預設樣式(底線) */
    color: #fff;
}

.submenu {
    opacity: 0;
    /* 預設為透明度0 */
    visibility: hidden;
    /* 預設為隱藏 */
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    /* 漸變效果 */
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
    /* 顯示子選單 */
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* 漸變效果 */
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}

/*good*/
main {
    display: flex;
    justify-content: center;
    /* 子元素呈水平向上居中對齊 */
    align-items: center;
    /* 子元素呈垂直向上居中對齊 */
}


.Product {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
}


section {
    padding: 50px 30px;
}

.product-container {
    display: flex;
    justify-content: center;
    /* 子元素呈水平向上居中對齊 */
}

#gallery,
.product-details {
    flex: 1;
    /* 平均佔據空間(1:1) */
}

.product-details {
    padding: 10px;
}

#gallery {
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    align-items: center;
    /* 子元素呈垂直向上居中對齊 */
}


#image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    /* 隱藏超出父容器的部分 */
    margin-bottom: 20px;
}

#image-container img {
    width: 100%;
    height: auto;
}

#thumbnails {
    display: flex;
    justify-content: space-between;
    /* 使子元素垂直向上均勻分布 */
    align-items: center;
    /* 子元素呈垂直向上居中對齊 */
    gap: 5px;
}

.thumbnail {
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

#prev-button,
#next-button {
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}


.quantity-container {
    display: flex;
    align-items: center;
    /* 子元素呈垂直向上居中對齊 */
}

.quantity-btn {
    font-size: 20px;
    width: 23px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    background-color: rgb(91, 86, 86);
    color: aliceblue;
}

#quantity {
    width: 30px;
    height: 20px;
    font-size: 14px;
    margin: 0 1px;
}

.title {
    font-size: 30px;
    font-weight: bolder;
}

.introduce {
    font-size: 18px;
    font-weight: bold;
}

.btn {
    padding: 20px;
    display: flex;
    justify-content: center;
    /* 使子元素垂直向上均勻分布 */
}

.buy-btn,
.cart-btn {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(55, 52, 52, 0.8);
    color: aliceblue;
}

.buy-btn:hover,
.cart-btn:hover {
    animation: blink 0.5s infinite alternate;
    /* 鼠標停留在此兩按鈕時的閃爍特效   */
}

@keyframes blink {
    to {
        opacity: 0.5;
        /* 閃爍時的透明度 */
    }
}

.tabs-container {
    text-align: center;
    padding: 20px;
}

.tab-title {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-title li {
    display: inline-block;
    /* 元素不換行並佔據一個區塊 */
    margin-right: 10px;
}

.tab-title a {
    display: inline-block;
    /* 元素不換行並佔據一個區塊 */
    padding: 10px 20px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    color: white;
    font-size: 16px;
    font-weight: bold;
    /* 字體粗度 */
    border-radius: 3px;
    /* 邊角修圓 */
    background-color: #535050;
    transition: background-color 0.3s;
    /* 漸變效果 */
    text-decoration: none;
    /* 清出超連結預設樣式 */
}

.tab-title a:hover {
    background-color: #D9D9D9;
}

.tab-content {
    border: 10px solid #D9D9D9;
    border-radius: 8px;
    padding: 20px;
}

.tab-content>div {
    display: none;
}

.tab-content>div.active {
    display: block;
}

.review-item img,
.review-item .rating {
    float: left;
    margin-right: 10px;
}

.review-item img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.user-name,
.rating {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.tab-content p {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.review-info {
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.like {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    padding: 20px;
}


.recommended-products-container {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    overflow: auto;
}

.slideshow-container {
    position: relative;
    margin: 0 10%;
    padding: 0 25%;
}

.singleSlide {
    padding: 5%;
    border: 1px solid #211E1E;
    text-align: center;
}

.singleSlide-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.singleSlide img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.product-price {
    color: green;
}

.product-name,
.product-price,
.add-to-cart-btn {
    font-weight: bold;
    margin: 15px;
    text-align: center;
    /* 讓內容水平置中 */
}

.product:hover {
    transform: scale(1.05);
    /* 鼠標放到圖片上時的放大效果 */
}

/* 淡入方式由下而上出現 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* 向上平移自身高度50%的距離 */
    width: auto;
    padding: 15px;
    color: black;
    border-radius: 3px;
    /* 圓框 */
    border: transparent solid 1px;
    /* 設定邊框樣式 */
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

.prev {
    left: 20%;
}

.next {
    right: 20%;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    /* 動畫時間 */
    justify-content: center;
    /* 垂直置中對齊 */
}

/* fade透明度調整 */
@keyframes fade {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.add-to-cart-btn {
    background-color: #331f10;
    width: 80px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    border: none;
    /* 清除邊框 */
    border-radius: 5px;
    /* 圓邊 */
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

.add-to-cart-btn:hover {
    background-color: #7c7572;
}

/* 回首頁 */

#homeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#homeBtn a {
    text-decoration: none;
    /* 清除預設超連結樣式 */
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}