* {
    margin: 0; /* 清除預設邊緣空間 */
    padding: 0; /* 清除預設內邊距 */
    box-sizing: border-box; /* 避免不同瀏覽器對元素預覽樣式不同 */
    font-family: 標楷體;
}

body {
    font-size: 20px;
}

/* 響應式(螢幕畫面<=768px) */
@media screen and (max-width: 1024px) {

    .login-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* 使子元素垂直排列 */
    }

    .login-photo {
        display: none;
    }

    .set-login {
        background-color: rgba(61, 53, 53, 0.467);
    }

    .login-text img {
        max-width: 50%;
    }

    .login-text {
        text-align: center;
        width: 100% !important;
        color: #d9d9d9;
    }

    .no-membership a {
        color: #fff;
    }

    body {
        background-color: #2e2e2e;
    }
}

.login-container {
    display: flex;
}

.login-photo {
    width: 50%;
}

.login-text {
    text-align: center;
    width: 50%;
}

.login-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    padding: 10px;
}

.login-logo {
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    align-items: center;
    /* 水平向上居中對齊 */
    justify-content: center;
    /* 對齊父容器垂直中線 */
    font-size: 30px;
    padding: 5% 20px 0;
}


.set-login {
    text-align: center;
    background-color: #3D3535;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-login {
    border: 1px solid #2e2e2e;
    padding: 30px 10px;
    width: 90%;
    margin: 0px auto 30px;
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    align-items: center;
    /* 水平向上居中對齊 */
    justify-content: center;
    /* 對齊父容器垂直中線 */
}

form {
    text-align: center;
}

.submit-btn {
    width: 100px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease;
    /* 鼠標放在botton上後背景變色 */
}

.submit-btn:hover {
    background-color: gray;
}

.membership-login p {
    padding: 10px;
}

.no-membership {
    text-align: center;
    padding: 10px;
}

#homeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#homeBtn a {
    text-decoration: none;
    /* 清除預設超連結樣式 */
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}