* {
    margin: 0; /* 清除預設邊緣空間 */
    padding: 0; /* 清除預設內邊距 */
    box-sizing: border-box; /* 避免不同瀏覽器對元素預覽樣式不同 */
}

main {
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;
}

.header_list {
    width: 34%;
    display: flex;
    justify-content: center;
    /* 對齊父容器垂直中線 */
    padding-top: 40px;
    gap: 10px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}

.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    color: #fff;
}

.submenu {
    opacity: 0;
    /* 預設為透明度0 */
    visibility: hidden;
    /* 預設為隱藏 */
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    /* 漸變效果 */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    /* 預設為透明度0 */
    visibility: visible;
    /* 預設為隱藏 */
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* 漸變效果 */
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}


/*memberships*/
.member-information {
    margin: 40px;
    font-size: 30px;
    text-align: left;
}

.information {
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    align-items: center;
    /* 水平向上居中對齊 */
    font-size: 20px;
}

.information img {
    border-radius: 50%;
    max-width: 25%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.information .p {
    text-align: center;
}

#inbtn {
    background-color: rgb(95, 93, 93);
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px;
}

.information button:hover {
    background-color: white;
    color: black;
}

.basic-information,
.purchase-history,
.comment-history {
    text-align: center;
    background-color: #5C5656;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 5px auto 0;
    width: 200px;
}

.basic-text,
.member-purchase-history,
.member-comment-history {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 65vw;
    margin: 0 auto 50px;
}

.modify {
    font-size: 25px;
    padding: 30px;
}

.member-comment-history {
    overflow: scroll;
}

.personal-information {
    text-align: left;
    align-items: center;
    /* 水平向上居中對齊 */
    font-size: 25px;
    padding: 30px;
    margin: 0 auto;
    line-height: 1.8;
}

.order a {
    text-decoration: none;
    color: inherit;
}


.order {
    border-radius: 15px;
    background-color: rgba(92, 86, 86, 0.619);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 10px auto 10px;
    transition: background-color 0.3s;
    /* 漸變效果 */
}


.scoring-content {
    border-radius: 15px;
    background-color: rgba(24, 23, 23, 0.619);
    color: #FFFFFF;
    text-align: left;
    padding: 10px 50px;
    width: 90%;
    margin: 0 auto 10px;
    transition: background-color 0.3s;
    /* 漸變效果 */
}

.order:hover,
.scoring-content:hover {
    background-color: rgb(214, 209, 209);
    color: #000;
}


/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    /* 使其高度配合內容所需最小高度 */
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}

/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#searchBox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#placeholder {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}

.sidebar-container {
    display: none;
}

/* 響應式(螢幕畫面<=768px) */
@media screen and (max-width: 768px) {

    .header_list,
    .header_text,
    .has-submenu,
    .submenu,
    .cart_and_membership,
    .cartnav,
    .membershipnav,
    .cart_and_membership p,
    .cart_and_membership img,
    .web_tags,
    .web_tags a,
    .menu {
        display: none; /* 隱藏>768px時的header選單 */
    }

    /*header*/
    .logo_text {
        font-size: 10pt;
    }

    .sidebar-container {
        width: 100%;
        position: absolute;
        top: 5px;
        right: 0;
        display: flex;
        flex-direction: column;
        /* 使子元素垂直排列 */
    }

    .sidebar-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        display: flex;
        justify-content: center;
        /* 對齊父容器垂直中線 */
        align-items: center;
        /* 水平向上居中對齊 */
    }

    .sidebar-btn:hover {
        background-color: #302d2d;
    }

    .sidebar {
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #211E1E;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 1;
        /* 設定側邊選單的堆疊順序(數值越大越上層) */
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        /* 漸變效果 */
    }

    .sidebar-option:hover {
        background-color: #302d2d;
        color: #211E1E;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    /*body*/

    .personal-information {
        font-size: 14px;
        padding: 0px;
        margin: 0 auto;
    }

    .basic-text,
    .member-purchase-history,
    .member-comment-history {
        font-size: 12px;
        padding: 10px;
        width: 85vw;
        margin: 0 auto 30px;
    }

    .scoring-content {
        padding: 10px 30px;
        width: 100%;
    }

    /*footer*/

    .footer_logo {
        position: relative;
        left: 20%;
    }

    .privacy-policy {
        font-size: 8pt;
    }
}