* {
    margin: 0; /* 清除預設邊緣空間 */
    padding: 0; /* 清除預設內邊距 */
    box-sizing: border-box; /* 避免不同瀏覽器對元素預覽樣式不同 */
    font-family: 標楷體;
}

body {
    font-size: 20px;
}

/* 響應式(螢幕畫面<=768px) */
@media screen and (max-width: 1024px) {

    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* 使子元素垂直排列 */
    }

    .register-photo {
        display: none;
    }

    .register-logo img {
        max-width: 50%;
    }

    .register-text {
        text-align: center;
        width: 100% !important;/* 可以覆蓋其他width設定 */
        background-color: #2e2e2e;
        color: #fff;
    }

    .membership-register a {
        color: white;
    }
}

.register-container {
    display: flex;
}

.register-photo {
    width: 50%;
}

.register-text {
    text-align: center;
    width: 50%;
}

.register-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* 使圖片保持原比例填滿父容器 */
}

.register-logo img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    /* 使圖片保持原比例填滿父容器 */
    padding: 10px;
}

.register-logo {
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    align-items: center;
    /* 水平向上居中對齊 */
    justify-content: center;
    /* 對齊父容器垂直中線 */
    font-size: 30px;
    padding: 5% 20px 0;
}


.set-register {
    text-align: center;
    background-color: #a19a78;
    color: white;
    padding: 10px;
    margin: 10px auto;
    width: 100px;
}

.membership-register {
    border: 1px solid #2e2e2e;
    padding: 30px;
    width: 90%;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    /* 使子元素垂直排列 */
    justify-content: space-evenly;
    /* 首尾元素和父容器的距離相等 */
    align-items: center;
    /* 水平向上居中對齊 */
}

form {
    text-align: left;
}

form p {
    text-align: center;
    padding: 10px;
}

.submit-btn {
    width: 100px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease;
    /* 鼠標放在botton上後背景變色 */
}

.submit-btn:hover {
    background-color: gray;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    /* 鼠標放在botton上的樣式變動(表示可點擊) */
    transition: background-color 0.3s ease-in-out;
    /* 鼠標放在botton上後背景變色 */
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}