* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}

.member-information {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    top: 0;
    left: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.information img {
    border-radius: 50%;
    max-width: 25%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.information .p {
    text-align: center;
}

.information button {
    background-color: rgb(95, 93, 93);
    color: white;
    font-size: 23px;
    margin-bottom: 20px;
}

.information button:hover {
    background-color: white;
    color: black;
}

.basic-information,
.purchase-history,
.comment-history {
    text-align: center;
    background-color: #5C5656;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px auto 0;
    width: 200px;
}

.basic-text,
.member-purchase-history,
.member-comment-history {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 800px;
    height: 300px;
    margin: 10px auto 50px;
    border-style: solid;
}

.member-comment-history {
    overflow: scroll;
}

.personal-information {
    text-align: left;
    align-items: center;
    font-size: 25px;
    padding: 30px;
    margin: 0 auto;
}

.order a {
    text-decoration: none;
    color: inherit;
}


.order {
    border-radius: 15px;
    background-color: rgba(92, 86, 86, 0.619);
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 750px;
    margin: 0 auto 10px;
    transition: background-color 0.3s;
}


.scoring-content {
    border-radius: 15px;
    background-color: rgba(24, 23, 23, 0.619);
    color: #FFFFFF;
    text-align: left;
    padding: 10px 50px;
    width: 750px;
    margin: 0 auto 10px;
    transition: background-color 0.3s;
}

.order:hover,
.scoring-content:hover {
    background-color: rgb(214, 209, 209);
    color: #000;
}

.star-rating {
    color: gold;
    font-size: 24px;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}