* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 微軟正黑體;
}

/*header*/
header {
    width: 100%;
    height: 90px;
    background-color: #211E1E;
    color: white;
    position: relative;
    display: flex;

}

.header_list {
    width: 40%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;
}

.header_text {
    padding: 0 5%;
    font-size: 12pt;
    color: white;
}

.logo {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 2%;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.logo_text {
    padding-top: 2%;
    padding-left: 10%;
    text-align: left;
}

.cart_and_membership {
    display: flex;
    height: 100%;
    position: absolute;
    right: 2%;
    padding: 10px;
    gap: 10px;
}

.cart_and_membership p {
    font-size: 10pt;
    color: white;
}

.header_list a {
    text-decoration: none;
}

.cart_and_membership img {
    width: 20px;
    height: 20px;
}

.cartnav,
.membershipnav {
    display: flex;
}


.has-submenu {
    list-style-type: none;
}

.has-submenu a {
    text-decoration: none;
    color: #fff;
}

.submenu {
    opacity: 0;
    visibility: hidden;
    background-color: #333;
    color: #d9d9d9;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    display: block;
}

.has-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
}

.submenu a {
    padding: 10px;
    display: block;
    color: #d9d9d9;
    text-align: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submenu a:hover {
    background-color: #555;
    color: #fff;
}

/*訂單*/
.purchase-history {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    top: 0;
    left: 0;
}

.order-list,
.rate {
    text-align: center;
    background-color: #5C5656;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 20px auto 0;
    width: 200px;
    height: auto;
}


.member-purchase-history,
.rating-area {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    width: 800px;
    height: fit-content;
    margin: 20px auto 10px;
    overflow: auto;
}


.order {
    padding: 10px;
    width: 750px;
    margin: 20px auto 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order-status {
    background-color: #d39999;
    color: white;
}

.order th,
.order-bottom {
    text-align: center;
    font-size: 17px;
    padding: 0;
    margin: 0;
    background-color: #5C5656;
    color: white;
}

.order td {
    text-align: center;
}

.goods-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.order img {
    width: 20%;
    height: 20%;
    margin-right: 382px;
}

.goods-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    text-align: left;
    white-space: nowrap;
    transform: translateX(-382px);
}


.rating {
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    transform-origin: center;
}

.rating-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rating-area p {
    margin: 0;
    padding: 10px;
}

.rating input {
    display: none;
}


.rating label::before {
    content: "\2605";
    display: block;
    position: relative;
    font-size: 2em;
    color: #101010;
}


.rating label::after {
    content: "\2605";
    display: block;
    position: absolute;
    top: 0;
    font-size: 2em;
    color: #F5AB3E;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover::after,
.rating input:hover~label::after,
.rating input:checked~label::after {
    opacity: 1;
}


.rating-area textarea {
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.back {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #101010;
}

/*回首頁、搜尋*/
#searchbtn {
    position: fixed;
    bottom: 65px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


#searchBox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
}

#searchBox input {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

#closeSearchBox {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#submitSearch {
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

#homeBtn {

    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d9d9d9;
    color: #000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#homeBtn a {
    text-decoration: none;
    color: #000;
}

#homeBtn:hover {
    background-color: #2e2e2e;
    color: #fff;
}

/*FOOTER*/
footer {
    background-color: #211E1E;
    color: white;
    width: 100%;
    height: fit-content;
    padding: 15px;
    bottom: 0;
}

.footer_logo {
    width: 20%;
    margin-left: 50px;
}

.footer_logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.menu {
    display: flex;
    margin: 10px 0;
}

.web_tags {
    width: 16%;
    font-size: 10pt;
    padding: 0 2%;
}

.web_tags a {
    color: white;
    text-decoration: none;
}

.privacy-policy {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 10pt;
}